@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Fecha');
            data.addColumn('number', 'Suma Total de Precios');

            // Aquí es donde se agregan los datos al gráfico
            var datos = @Html.Raw(Json.Serialize(Model.sumaTotalPorFecha));
for (var fecha in datos) {
    var sumaTotal = datos[fecha];
    var fechaSinCeros = new Date(fecha).toLocaleDateString('es-ES');
    data.addRow([fechaSinCeros, sumaTotal]);
}

            var options = {
                title: 'Suma Total de Precios por Fecha',
                bars: 'vertical', // Orientación vertical de las barras
                legend: { position: 'bottom' },
                hAxis: {
                    format: 'MMM d, yyyy', // Formato de la fecha (ejemplo: Jun 1, 2023)
                    gridlines: { count: -1 } // Mostrar todas las fechas sin agrupar
                }
            };
            var chart = new google.charts.Bar(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<div id="chart_div"></div>

<table class="table">
    <tr><th>Cantidad</th><th>Precio</th></tr>

    @foreach (var v in Model.ventasDias)
    {
        <tr><td>@v.Cantidad</td><td>@v.Precio</td></tr>
    }

</table>

<table class="table">
    <tr><th>Nombre</th><th>Precio</th></tr>

    @foreach (var v in Model.productosVendidos)
    {
        <tr><td>@v.Nombre</td><td>@v.Precio</td></tr>
    }

</table>

<table class="table">
    <tr><th>Nombre</th><th>Precio</th></tr>

    @foreach (var v in Model.sumaTotalPorFecha)
    {
        <tr><td>@v</td><td>@v</td></tr>
    }

</table>